.instagram__wrapper {
    background: var(--card-bgc);
    padding: 30px 50px;
}

.instagram__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.instagram__all_text {
    background: var(--instagram-bgc);
    padding: 40px;
    border-radius: 10px;

    @media screen and (max-width: 900px) {
        width: 500px;
    }

    @media screen and (max-width: 660px) {
        width: 320px;
    }
    span {
        color: var(--facebook-hover);
    }

    h2 {
        max-width: 400px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 50px;
        color: var(--text);

        @media screen and (max-width: 550px) {
            font-size: 18px;
            line-height:20px;
        }
    }
}

.instagram__line {
    height: 3px;
    display: block;
    max-width: 100%;
    border: none;
    background: var(--insta-btn-hover);
}

.instagram__slide {
    display: flex;
    align-items: center;
    width: 60%;
    background: #299764;
    padding: 50px 20px;

    @media screen and (max-width: 900px) {
        width: 500px;
    }

    @media screen and (max-width: 660px) {
        width: 320px;
    }
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 250px;
}

.swiper-slide {
    border-radius: 12px;
}


.swiper-slide{
    p{
        margin: 0;
        padding: 10px;
    }
}

.instagram__slide_human {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .instagram__slide_inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 40px;

        img {
            width: 30px;

            @media screen and (max-width: 600px) {
                margin: 0 auto;
            }
        }
    
        h4 {
            margin: 0;
            @media screen and (max-width: 600px) {
                text-align: center;
            }
        }
    
        p {
            margin: 0;
            text-align: start;
            @media screen and (max-width: 600px) {
                text-align: center;
            }
        }
    }

    padding: 30px;
    display: flex;
    align-items: center;   
}

.instagram__slide_human{
    img{
        width: 60px;
    }
}


.swiper-slide {
    padding: 20px;
    display: block;
    text-align: start;
}

.instagram__start{
    padding: 10px;
    h4{
        margin: 0;
    }
    width: 260px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    img{
        width: 20px;
    }
}