.safe {
    margin-bottom: 160px;
  }
  
  .safe__box {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px 0 32px;
    background-color: var(--bgc);
    border: 1.5px solid var(--border-color);
    border-radius: 20px;
  }
  
  .safe__left {
    padding-bottom: 32px;
  }
  
  .safe__text-box {
    width: 100%;
    max-width: 590px;
    margin-bottom: 94px;
  }
  
  .safe__title {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: var(--text);
  }
  
  .safe__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-title);
  }
  
  .safe__list {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .safe__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    height: 160px;
    padding: 15px;
    background-color: var(--card-bgc);
    border-radius: 16px;
    transition: all ease 0.4s;
  }
  
  .safe__icon {
    display: block;
    margin-left: auto;
    color: var(--text);
  }
  
  .safe__desc {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text);
  }
  
  .safe__item:hover {
    background-color: var(--btn);
    .safe__desc {
      color: #fff;
    }
    .safe__icon {
      color: #fff;
    }
  }
  
  .safe__right {
    margin-top: auto;
  }
  
  .safe__image {
    width: 386px;
    height: 472px;
  }
  
  @media only screen and (max-width: 1000px) {
    .safe__box {
      padding: 30px 10px 0 24px;
    }
    .safe__text-box {
      max-width: 466px;
      margin-bottom: 35px;
    }
    .safe__item {
      max-width: 140px;
    }
    .safe__image {
      width: 284px;
      height: 367px;
    }
  }
  
  @media only screen and (max-width: 728px) {
    .safe__box {
      width: 100%;
      max-width: 100%;
      background-image: url("../../assets/imges/safe/human-background-ellepis.png");
      background-repeat: no-repeat;
      background-size: 160px;
      background-position: right -70px top -70px;
    }
    .safe__left,
    .safe__text-box {
      width: 100%;
      max-width: 100%;
    }
    .safe__list {
      flex-direction: column;
    }
    .safe__item {
      max-width: 100%;
      height: 128px;
    }
    .safe__right {
      display: none;
    }
  }